<html ng-app="ng-index">
<% include header %>
<body>
	<% include navigation %>
	<table class="table table-striped" ng-controller="CampaignsCtrl" >
		<thead>
			<tr>
				<th>Title</th>
				<th>Body</th>
				<th>Edit</th>
				<th>Render page</th>
				<th>Finished screenshot</th>
                                <th>Get URL</th>
                                <th>Remove</th>
			</tr>
		</thead>
		<% for(var i=0; i<campaigns.length; i++) {%>
                   <% var urlinfo =  global_location  + '/' + user._id + '/screenshot_' + campaigns[i]._id;%>
		<tr ng-controller="CampaignsEach"  ng-init="body_val = '<%= campaigns[i].body %>'" ng-model="body_val" >
			<td><%= campaigns[i].title %></td>
			<td ng-init="test_data= returnReplData(body_val)"><span ng-bind-html="test_data"></span></td>
			<td><a href="/campaign/<%= campaigns[i]._id %>">Edit</a></td>
			<td><a href="/campaign/render/<%= campaigns[i]._id %>">View</a></td>
			<td><a href="/campaign/screenshot/<%= campaigns[i]._id %>" target="_blank">Generate</a></td>
                        <td><a ng-click="openDialog('<%= urlinfo %>', '<%= campaigns[i]._id %>')" >View</a></td>
                        <td><a href="/campaign/delete/<%= campaigns[i]._id %>">Delete</a></td>
		</tr>
		<% } %>
	</table> 

     
</body>
<% include footer %>
</html>