<html>
<% include header %>

<body>
	<% include navigation %>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Body</th>
				<th>Internal Title</th>
				<th>Image</th>
				<th>Edit</th>

			</tr>
		</thead>
		<% for(var i=0; i<campaigns.length; i++) {%>
		<tr>
			<td><%= campaigns[i].title %></td>
			<td><%= campaigns[i].body %></td>
			<td><%= campaigns[i].internal_title %></td>
			<td><%= campaigns[i].image %></td>

			<td><a href="/campaign/<%= campaigns[i]._id %>">Edit</a></td>


		</tr>
		<% } %>
	</table> 
</body>
</html>