<html>


<% include header %>


<body>
	<% include navigation %>

<!-- 	<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
	</form> -->

	<div class="span6" id="ad-form">
		<h1>Create your campaign</h1>
		<% var title_value = typeof title !== 'undefined'
		? "value='" + title + "'"
		: ''; %>
		<% var body_value = typeof body !== 'undefined' ?  body : ''; %>

		<form id="form" class="navbar-form pull-left" action="/add" method="post" enctype="multipart/form-data">
			<input
			name='title'
			class="title"
			type="text"
			placeholder='Title'
			<% if(typeof title !== 'undefined') { %>
			value="<%= title %>"
			<% } %>
			><br/>
			<textarea
			name='body'
			rows='3'
			class='body'
			placeholder='Body'><% if(typeof body !== 'undefined') { %><%= body %><% } %></textarea><br/>
<!-- 			<input 		name='url' 		class='url' 	type='text' placeholder="URL"><br/>
			<label class="checkbox">
				<input name="addlogo" type="checkbox"> Use logo
			</label>
			<input type="text" name='schedule' placeholder="Schedule"><br/>
			<input type="text" name='internal_title' placeholder="Internal Title"><br/>
			<input type="file" name="image"><br /> -->
			<button type="submit" class="btn">Submit</button>
		</form>
	</div>


	<div id="preview" class="span6">
		<a class="url" data-bind="attr:{href:url}">

			<% if(typeof title !== 'undefined') { %>
			<h1 class="title" data-bind="text: title"><%= title %></h1>
			<% } %>

			<% if(typeof body !== 'undefined') { %>
			<div class="body" data-bind="text: body"><%= body %>
				<% } %>
		</a>
		<% if(typeof _id !== 'undefined') { %>
		<img id="embedlink"><input type='text' readonly value='<img src="http://localhost:3000/campaign/screenshot/<%= _id %>">' /></form>
		<% } %>

		</div>


		<!--
		<% if (typeof title !== 'undefined'){ %>
		<h1 class="title"><%= title %></h1>
		<% } %>
		<% if (typeof body !== 'undefined'){ %>
		<div class="body" ><%= body %></div>
		<% } %>
		<% if (typeof imageURL !== 'undefined'){ %>
		<img src="<% imageURL %>" />
		<% } %> -->
	</div>
</body>
<% include footer %>
</html>
