<html>


<% include header %>


<body>
	<% include navigation %>

	<div class="span6" id="ad-form">
		<h1>Create your ad</h1> 
		<% var title_value = typeof title !== 'undefined' 
		? "value='" + title + "'" 
		: ''; %>
		<% var body_value = typeof body !== 'undefined' ?  body : ''; %>

		<form id="form" class="navbar-form pull-left" action="/" method="post" enctype="multipart/form-data">
			<input 
				name='title' 
				class="title" 	
				type="text"  
				placeholder='Title'
				<% if(typeof title !== 'undefined') { %>
					value="<%= title %>"
				<% } %>
			><br/>
			<textarea
				name='body' 
				rows='3'  	
				class='body' 
				placeholder='Body'
				></textarea><br/>
<!-- 			<input 		name='url' 		class='url' 	type='text' placeholder="URL"><br/>
			<label class="checkbox">
				<input name="addlogo" type="checkbox"> Use logo
			</label>
			<input type="text" name='schedule' placeholder="Schedule"><br/>
			<input type="text" name='internal_title' placeholder="Internal Title"><br/>
			<input type="file" name="image"><br /> -->
			<button type="submit" class="btn">Submit</button>
		</form>
	</div>


	<div id="preview" class="span6">
		<a class="url" data-bind="attr:{href:url}">
			<h1 class="title" data-bind="text: title">
				<% if(typeof title !== 'undefined') { %>
				<%= title %></h1>
				<% } %>

				<div class="body" data-bind="text: body">
					<% if(typeof body !== 'undefined') { %>
					<%= body %></h1>
					<% } %>		
				</a>
			</div>


			<script>
	// function AppViewModel() {
	// 	this.url = ko.observable("http://vg.no");
	// 	this.title = ko.observable("Foo");
	// 	this.body = ko.observable("Bar");
	// }
	// ko.applyBindings(new AppViewModel());
	</script>
		<!-- 
		<% if (typeof title !== 'undefined'){ %>
		<h1 class="title"><%= title %></h1>
		<% } %>
		<% if (typeof body !== 'undefined'){ %>
		<div class="body" ><%= body %></div>
		<% } %>
		<% if (typeof imageURL !== 'undefined'){ %>
		<img src="<% imageURL %>" />
		<% } %> -->
	</div>
</body>
</html>